/* --- Fond général --- */
QWidget#centralWidget {
    background-color: #ffffff;
}

/* --- Titre Principal --- */
QLabel#titleLabel {
    font-size: 24px;
    font-weight: bold;
    color: #2c3e50;
    margin-bottom: 15px;
}

/* --- Bouton Parcourir --- */
QPushButton#btnBrowse {
    background-color: #f8f9fa;
    color: #333333;
    border: 1px solid #cccccc;
    border-radius: 6px;
    font-size: 14px;
    padding: 10px;
}

QPushButton#btnBrowse:hover {
    background-color: #e9ecef;
    border: 1px solid #b3b3b3;
}

QPushButton#btnBrowse:pressed {
    background-color: #dee2e6;
}

/* --- Label du fichier --- */
QLabel#fileLabel {
    font-size: 13px;
    font-style: italic;
    color: #7f8c8d;
}



/* --- Bouton Démarrer --- */
QPushButton#btnStart {
    background-color: #2ecc71;
    color: white;
    font-weight: bold;
    border-radius: 6px;
    font-size: 14px;
    border: none;
    padding: 10px;
}

QPushButton#btnStart:hover {
    background-color: #27ae60;
}

QPushButton#btnStart:pressed {
    background-color: #219653;
}